In [1]:
import scanpy as sc
import os
import pandas as pd

In [2]:
fpath = "/nfs/turbo/umms-indikar/shared/projects/geneformer/data/imyoblast_project/anndata/imyoblast.h5ad"

adata = sc.read_h5ad(fpath)
adata

AnnData object with n_obs × n_vars = 28508 × 26017
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'run', 'SNG.1ST', 'SNG.7475', 'DMTYPE', 'disease.group', 'disease.state', 'ctype', 'ctgroup', 'cgroup', 'dgroup'
    var: 'name'

In [3]:
adata.obs.head()

,orig.ident,nCount_RNA,nFeature_RNA,run,SNG.1ST,SNG.7475,DMTYPE,disease.group,disease.state,ctype,ctgroup,cgroup,dgroup
SB_AAACCCAAGCAAGCCA,17A,8783.0,2972,SB,17A,17A,SNG,FSHD,FSHD-A,S1 cells,S1_17A,SB_17A,SB_FSHD-A
SB_AAACCCACACCCTAAA,30A,9231.0,2772,SB,30A,30A,SNG,FSHD,FSHD-A,S1 cells,S1_30A,SB_30A,SB_FSHD-A
SB_AAACCCACACGCTGCA,30A,9702.0,3180,SB,30A,30A,SNG,FSHD,FSHD-A,S1 cells,S1_30A,SB_30A,SB_FSHD-A
SB_AAACCCAGTCCTACAA,15A,1966.0,342,SB,15A,15A,SNG,FSHD,FSHD-A,S1 cells,S1_15A,SB_15A,SB_FSHD-A
SB_AAACCCATCATCACAG,17A,12322.0,3542,SB,17A,17A,SNG,FSHD,FSHD-A,S1 cells,S1_17A,SB_17A,SB_FSHD-A

In [6]:
adata.var.sample(10)

                  name
CCNC              CCNC
COLCA1          COLCA1
DDX6              DDX6
NUP205          NUP205
AC023794.7  AC023794.7
COPS8            COPS8
BVES-AS1      BVES-AS1
TENM3            TENM3
TES                TES
RANBP3          RANBP3